<% if current_user.role == 'standard' %>
<div class="wiki-container">
<h4> my wikis </h4><br / >
  <div class="back"> <%= link_to "back", :back %></div><br / >
<%= render @wikis %>
</div>

<% elsif current_user.role == 'premium' %>

<div class="wiki-container">
  <nav class="wiki-nav">
    <ul class="nav nav-tabs">
    <li role="presentation" class="active"><%= link_to "my public wikis" %></li>
    <li role="presentation"><%= link_to "private wikis", user_path(current_user) %></li>
    </ul>
  </nav>
  <div class="back"> <%= link_to "back", :back %></div><br / >
<h6>Preview</h6>
<%= render @wikis %>
</div>

<% else current_user.role == 'admin' %>
<h4> all wikis </h4>
<% end %>