<div class="new-form">
  <h3>Markdown</h3>
<%= form_for [wiki] do |f| %>
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %><br/>
<%= f.label :body %>
<%= f.text_area :body, class: 'form-control', :rows => "15" %><br/>
<%= f.label :private, class: 'checkbox' do %>
<% end %>
<%= f.submit "Save" %> <%= f.check_box :private %> Private wiki
<% end %>
</div>