  
  <% if current_user.role == 'standard' %>
  <div class="upgrade-message"> Want to create private wikis? Upgrade <%= link_to "here", new_charge_path %>, it's only US$15 per year!</div>
  <% else %>
  <div class="downgrade-message"> You are a premium member <%= link_to "change", new_charge_path %></div>
  <% end %>

  <div class="new-wiki">
    <%= link_to " new wiki", new_wiki_path %>
  </div>

<div class="wiki-container">
  <nav class="wiki-nav">
    <ul class="nav nav-tabs">
    <li role="presentation" class="active"><%= link_to "latest wikis" %></li>
    <li role="presentation"><%= link_to "my publicwikis", users_path%></li>
    <% if current_user.role == 'premium' || current_user.role == 'admin' %>
    <li role="presentation"><%= link_to "my private wikis", user_path(current_user) %></li>
    <% end %>
    </ul>
  </nav>
<h6>Preview</h6>
</div>

<%= render @wikis %>


